 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --primary-color: #141414;
  --secondary-color: #e50914;
  --text-color: #ffffff;
  --background-color: #000000;
  --header-height: 60px;
  --footer-height: 100px;

}

* {
box-sizing: border-box;
padding: 0;
margin: 0;


}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}